# Habilita o motor de reescrita de URL
RewriteEngine On

# Evita que a regra se aplique a arquivos ou diretórios existentes
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Reecresve a URL: para qualquer requisição que não seja um arquivo ou diretório,
# tenta adicionar .html no final.
# Ex: /encomendas -> /encomendas.html
RewriteRule ^([^\.]+)$ $1.html [NC,L]
